<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/aleg1/IdeaProjects/testNG_Maven_trial/src/test/java/test_cases">
        <classes>
            <class name="test_cases.login_01">
                <methods>
                    <include name="open_login_page"/>
                    <include name="valid_user_pass"/>
                    <include name="screenshot_profile"/>
                </methods>
            </class>
            <class name="test_cases.history_02">
                <methods>
                    <include name="search_article"/>
                    <include name="contents_tab"/>
                    <include name="view_history"/>
                    <include name="filter_revs"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>