<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/aleg1/IdeaProjects/testNG_Maven_trial/src/test/java/test_cases">
        <classes>
            <class name="test_cases.login_01">
                <methods>
                    <include name="add"/>
                    <include name="mul"/>
                    <include name="factorial"/>
                    <include name="sub"/>
                </methods>
            </class>
            <class name="test_cases.class_two">
                <methods>
                    <include name="Method1"/>
                    <include name="Method2"/>
                    <include name="Method3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>